<% email = current_user.present? ? current_user.email : "Friend" %>

<div class="text-center py-5">
  <h1>Welcome, <%= email %>!</h1>
  <h3 class="mb-3 text-gray">Let's make a shake</h3>
  <%= link_to("Make a new shake", new_shake_path, class: "btn btn-cream my-2") %>
  <%= link_to("Use one of your saved shakes", shakes_path, class: "btn btn-gray my-2") %>
  <%= link_to("Buy more straws", "https://www.amazon.com/ALINK-Plastic-Bubble-Smoothie-Milkshake/dp/B06XV3P2N2/ref=pd_sbs_3/137-3779508-7463722?pd_rd_w=f8Gvb&pf_rd_p=0a3ad226-8a77-4898-9a99-63ffeb1aef90&pf_rd_r=4ZPEK1XRVKXQDS3NBKGN&pd_rd_r=d24db27c-b639-48b8-8aaa-1d2795025c5d&pd_rd_wg=W0zTX&pd_rd_i=B06XV3P2N2&psc=1", class: "btn btn-light-pink my-2", target: "_blank") %>
</div>
