<table>
  <thead>
    <th class="px-3">Name</th>
    <th class="px-3">Ingredients</th>
    <th class="px-3">Calories</th>
  </thead>
  <tbody>
    <%= render(@shakes) %>
  </tbody>
</table>

<%= link_to("New Shake", new_shake_path, class: "btn btn-light-pink mt-3") %>
